<nz-spin nzTip="Closing..." [nzSpinning]="closing">
  <nz-affix>
    <ul nz-menu nzMode="horizontal" nzTheme="dark" [nzSelectable]="false">
      <li nz-menu-item routerLink="/home">
        <i nz-icon nzType="home"></i>
        Meow
      </li>
      <li nz-submenu nzTitle="Node" nzIcon="apartment">
        <ul>
          <li nz-menu-item (click)="this.getNodeInfo()" [nzSelected]="false">
            Get NodeInfo
          </li>
        </ul>
        <ul>
          <li nz-menu-item (click)="this.getPeers()" [nzSelected]="false">
            Get Peers
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Settings" nzIcon="setting">
        <ul>
          <li
            nz-menu-item
            (click)="this.rpc.openDevTools()"
            [nzSelected]="false"
          >
            Open DevTools
          </li>
          <li nz-menu-group nzTitle="Item 1">
            <ul>
              <li nz-menu-item routerLink="/detail">Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Item 2">
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
              <li nz-submenu nzTitle="Sub Menu">
                <ul>
                  <li nz-menu-item nzDisabled>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                <ul>
                  <li nz-menu-item>Option 5</li>
                  <li nz-menu-item>Option 6</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-affix>
  <router-outlet></router-outlet>
  <nz-modal
    [(nzVisible)]="showCloseConfirm"
    nzTitle="Message"
    (nzOnOk)="closeConfirmed()"
    (nzOnCancel)="closeCanceled()"
  >
    <ng-container *nzModalContent>
      <p>{{ "APP.CLOSE_TIP" | translate }}</p>
    </ng-container>
  </nz-modal>
</nz-spin>
