<div class="container">
  <div nz-row>
    <div nz-col nzXl="12" nzMd="12" nzXs="24" nzSm="24" style="padding: 10px">
      <nz-card nzTitle="Balances">
        <nz-row>
          <nz-col [nzSpan]="24">
            <nz-statistic
              [nzValue]="(balance) + ' CATE'"
              [nzTitle]="'Account Balance'"
            ></nz-statistic>
          </nz-col>
        </nz-row>
      </nz-card>
    </div>
    <div nz-col nzXl="12" nzMd="12" nzXs="24" nzSm="24" style="padding: 10px">
      <nz-card nzTitle="Recent transactions">
        <nz-empty></nz-empty>
      </nz-card>
    </div>
  </div>
</div>
