/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.ant-menu {
  user-select: none;
}
/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  // height: 100%;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}
.container:after {
  content: "";
  background: url("./assets/icons/favicon.png") no-repeat center center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

*:focus {
  outline: none;
}
